target/classes/certs/public.pem
target/classes/META-INF/spring.components
target/classes/config/application.yaml
SpringRestNew.iml
*.class
*.lst
*.sql
*.properties
*.xml
*.txt
*.original
*.jar
*.pem
*.json
*.dump



